body{
  background-color: #313841;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #313248;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  border-radius: 14px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  width: 140px;
  height: 14px;
  margin: 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  }

.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  }

.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}