html {
  height: 100%;
}

body {
  /* margin: 10.6px; */
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(236, 234, 234);
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

body > header {
  width: 100%;
  height: 300px;
  background: url(reddit-logo-02.png) 2% center no-repeat, url(http://eskipaper.com/images/space-background-pictures-1.jpg) center -400px no-repeat fixed;
  background-size: 10%, auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img {
  height: 50%;
}

h1 {
  color: #fff;
  /* margin: 0; */
  text-align: center;
  font-weight: 500;
  letter-spacing: 2em;
  text-transform: uppercase;
  text-shadow: #000 1px 0 120px;
}

h2 {
  margin-top: 0;
}

h3 {
  margin: 0;
  font-size: 14px;
  padding-left: 14px;
}

.main-content {
  margin: 20px 10px;
  min-width: 600px;
  /* flex-direction: column; */
  /* margin: auto; */
  display: flex;
  /* flex-direction: column; */
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
}

main a {
  margin-right: 10px;
}

.post {
  display: flex;
  background-color: #fff;
  padding: 10px 0px;
}

.vote {
  display: flex;
  flex-direction: column;
  width: 80px;
  min-width: 80px;
}

.upvote {
  background: url(upvote.png) center no-repeat;
  background-size: 15px;
  height: 15px;
  border: none;
}

.downvote {
  background: no-repeat center center/15px url(downvote.png);
  height: 15px;
  border: none;
}

.voteCount {
  text-align: center;
}



.form {
  background-color: #fff;
  padding: 20px 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin-bottom: 10px;
}

form > input {
  margin-bottom: 10px;
}

form :nth-child(2) {
  margin-bottom: 20px;
}



aside {
  margin-left: 10px;
}

article {
  background: #F5F5F5;
}

article > header {
  height: 14px;
  background: #FBFBFB;
  padding-top: 12px;
  padding-bottom: 14px;
}

article p {
  padding-left: 14px;
}

ul {
  padding-bottom: 16px;
  list-style: square;
  line-height: 1.6em;
}

button {
  border-color: none;
  border: none;
  /* display: inline-block;   */
  background: #4FA4DD;
  color: white;
  width: 40%;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 14px;
  margin-bottom: 10px;
}

button:hover {
  /* background: #395973; */
  background: #252D3F;
  color: #fff;
  }

button:active {
  background: #1b435e;
}



.btn {
  display: inline-block;  
  background: #4FA4DD;
  /* border-top: 1px solid #96d1f8;
  border-radius: 14px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0; */
  color: white;
  width: 100%;
  height: 14px;
  /* margin: 20px; */
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 14px;
  margin-bottom: 10px;
}

.btn:hover {
  /* background: #395973; */
  background: #252D3F;
  color: #fff;
  }

.btn:active {
  background: #1b435e;
}