.container {
    display: flex;
    width: 100%;
}

.item green {
    background-color: green;
    width: 300px;
    height: 300px;
}

.item yellow {
    background-color: yellow;
    width: 300px;
    height: 300px;
}

.item purple {
    background-color: purple;
    width: 300px;
    height: 300px;
}