* {
    margin: 0;
}

body {
    margin: 5px 0 0 6px;
}

h1 {
    color: #ff6347;
}

h2 {
    color: #8a2be2;
    margin: 14px 0;
}

p {
    width: 370px;
}

ol li {
    color: #ff19ff;
    list-style-type: upper-roman;
    text-decoration: underline;
}

ol :nth-child(4) {
    color: #000;
}